
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-body">
            <h3>My photos</h3>

              <div class="container">
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Img7.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Landscape-Color.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Img2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Img3.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Img4.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Img5.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Img6.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Img7.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card floaty-left" style="width: 18rem;">
                  <img class="card-img-top" src="../../../assets/img/Landscape-Color.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  