<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">

          <div class="card card-bgc">
            <div class="card-body">
              <h3 class="card-title"><b>{{photo.title}}</b></h3>
              <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
              
            </div>
            <img [src]=photo.path class="card-img-bottom" alt="...">
            <button (click)="download(photo.idPhoto)" type="button" class="btn btn-info">Download photo</button>
          </div>
          <div>
            <p class="card-text"><small class="text-muted">Comments</small></p>

            <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Post a comment</label>
                <textarea #comment placeholder="Leave your comment here" class="form-control card-bgc"
                  id="exampleFormControlTextarea1" rows="3"></textarea>
                <button (click)="postComment(comment.value)" class="btn btn-danger">Submit comment</button>
                <br> <br>
              </div>
            </form>

            <div *ngFor="let comment of comments" class="card card-bgc" style="padding: 5px">
              <span class="card-title"><span class="text-muted">Username:</span>{{comment.username}}</span>
              <span class="card-title"><span class="text-muted">Date posted:</span>{{comment.date}}</span>
              <p class="card-text">{{comment.comment}}</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>