<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-body">
            
            <div class="card card-bgc">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                    <span class="card-title"><span class="text-muted">Posted by:</span> Jon Doe</span> <br>
                    <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <img src="../../../assets/img/Landscape-Color.jpg" class="card-img-bottom" alt="...">
              </div>
              <div>
                <p class="card-text"><small class="text-muted">Comments</small></p>

                <div class="card card-bgc" style="padding: 5px">
                    <span class="card-title"><span class="text-muted">Username:</span> Jon Doe</span>
                    <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
                    <p class="card-text">A very thoughtful comment.</p>
                </div>

                <div class="card card-bgc" style="padding: 5px">
                    <span class="card-title"><span class="text-muted">Username:</span> Jon Doe</span>
                    <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
                    <p class="card-text">A very thoughtful comment.</p>
                </div>

                <div class="card card-bgc" style="padding: 5px">
                    <span class="card-title"><span class="text-muted">Username:</span> Jon Doe</span>
                    <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
                    <p class="card-text">A very thoughtful comment.</p>
                </div>

                <div class="card card-bgc" style="padding: 5px">
                    <span class="card-title"><span class="text-muted">Username:</span> Jon Doe</span>
                    <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
                    <p class="card-text">A very thoughtful comment.</p>
                </div>

                <div class="card card-bgc" style="padding: 5px">
                    <span class="card-title"><span class="text-muted">Username:</span> Jon Doe</span>
                    <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
                    <p class="card-text">A very thoughtful comment.</p>
                </div>

                <div class="card card-bgc" style="padding: 5px">
                    <span class="card-title"><span class="text-muted">Username:</span> Jon Doe</span>
                    <span class="card-title"><span class="text-muted">Date posted:</span> 28-05-2021</span>
                    <p class="card-text">A very thoughtful comment.</p>
                </div>

                <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Post a comment</label>
                    <textarea placeholder="Leave your comment here" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </form>

                <a href="#" class="card-link">Leave a comment</a>
              </div>

          </div>
        </div>
      </div>
    </div>
</div>