<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-body">

                    <h3>Classify image</h3>
                    <!--
            <form class="form-inline ml-auto">
              <div class="form-group no-border">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-link btn-icon btn-round">
                <i class="tim-icons icon-zoom-split"></i>
              </button>
            </form>
  -->
                    <form>
                        <div class="form-group">
                            <button type="button" class="btn btn-info">
                                <label style="color: white" for="inputImage">Classify image by uploading</label>
                                <input id="inputImage" #imageInput type="file" accept="image/*"
                                    (change)="processFile(imageInput)">
                            </button>
                        </div>
                    </form>

                    <br>

                    <h3 class=" card-title">
                        <i class=" tim-icons icon-paper text-info"> </i> Classify image category
                    </h3>
                    <br>

                    <div class="container">
                        <div style="padding-bottom: 1em;">
                            <canvas id="myChart" width="550" height="180"></canvas>
                        </div>
                        <div class="container">
                            <div class="row" *ngFor="let result of results">


                            </div>
                        </div>
                    </div>