<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">

          <h3>Reverse Search</h3>
          <!--
          <form class="form-inline ml-auto">
            <div class="form-group no-border">
              <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-link btn-icon btn-round">
              <i class="tim-icons icon-zoom-split"></i>
            </button>
          </form>
-->
          <label class="image-upload-container btn btn-bwm">
            <span>Select Image</span>
            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
          </label>



          <form>
            <div class="form-group">
              <button class="btn btn-info">
                <label for="exampleFormControlFile1">Browse files</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </button>
            </div>
          </form>
          <br>

          <h3 class=" card-title">
            <i class=" tim-icons icon-paper text-info"> </i> Search Results
          </h3>
          <br>

          <div class="container">
            <div class="row">


              <div class="card mb-3 card-bgc" style="max-width: 1080px; max-height: 1920px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <a href="/#/detail-photo"><img src="../../../assets/img/Landscape-Color.jpg"></a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col">
                    <div class="card floaty-left" style="width: 27rem;">
                      <div class="card-body">
                        <h3 class="card-title">Chart title</h3>
                        <img class="card-img-top" src="../../../assets/img/chart_example.png" alt="Card image cap">
                      </div>
                    </div>

                    <div class="col">
                      <div class="card floaty-left" style="width: 27rem;">
                        <div class="card-body">
                          <h3 class="card-title">Example bar chart</h3>
                          <img class="card-img-top" src="../../../assets/img/chart_example2.png" alt="Card image cap">
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

              <div class="container">
                <div class="row">

                  <div class="card mb-3 card-bgc" style="max-width: 1080px; max-height: 1920px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <a href="/#/detail-photo"><img src="../../../assets/img/Img2.jpg"></a>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="card floaty-left" style="width: 27rem;">
                          <div class="card-body">
                            <h3 class="card-title">Chart title</h3>
                            <img class="card-img-top" src="../../../assets/img/chart_example.png" alt="Card image cap">
                          </div>
                        </div>

                        <div class="col">
                          <div class="card floaty-left" style="width: 27rem;">
                            <div class="card-body">
                              <h3 class="card-title">Example bar chart</h3>
                              <img class="card-img-top" src="../../../assets/img/chart_example2.png"
                                alt="Card image cap">
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>

                  <div class="container">
                    <div class="row">

                      <div class="card mb-3 card-bgc" style="max-width: 1080px; max-height: 1920px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <a href="/#/detail-photo"><img src="../../../assets/img/Img3.jpg"></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="card floaty-left" style="width: 27rem;">
                              <div class="card-body">
                                <h3 class="card-title">Chart title</h3>
                                <img class="card-img-top" src="../../../assets/img/chart_example.png"
                                  alt="Card image cap">
                              </div>
                            </div>

                            <div class="col">
                              <div class="card floaty-left" style="width: 27rem;">
                                <div class="card-body">
                                  <h3 class="card-title">Example bar chart</h3>
                                  <img class="card-img-top" src="../../../assets/img/chart_example2.png"
                                    alt="Card image cap">
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>