<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <h3>Photos</h3>


          <div class="container">

            <div *ngFor="let photo of photos" class="row">
              <div class="card mb-3 card-bgc" style="max-width: 1080px; max-height: 1920px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <a routerLink="/detail-photo/{{photo.idPhoto}}"><img [src]=photo.path></a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{photo.title}}</h5>
                      <p class="card-text">{{photo.path}}}}</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Uploaded by: <b><i>Jon Doe</i></b></li>
                        <li class="list-group-item">Date: <b><i>{{photo.date}}</i></b></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>