button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

input{
    align-self: center;
    margin-right: 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .rightAlign{
      float: right;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .bgRounded{
      background-color: #EE04E0;
      border-radius: 25px;
  }